body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.fixed-header {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 48px;
}

.fixed-header.left {
    left: 0;
}

.fixed-header.right {
    border-left: 2px solid #fff;
}

.header-offset {
    margin-top: 48px;
}

.card-header {
    background: #363636;
    color: white;
}

.pane-sm {
    max-width: 30%;
    min-width: 15%;
}

.pane {
    border-left: 1px solid rgba(0, 0, 0, .125);
}

.card-subtitle {
    color: #757575;
}

.selected-card {
    color: #fff;
}

.btn:hover .icon {
    color: #fff;
}
