.fixed-header {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 48px;
}

.header-offset {
    margin-top: 48px;
}

.card-header {
    background: #363636;
    color: white;
}

.pane-sm {
    max-width: 30%;
    min-width: 15%;
}

.pane {
    border-left: 1px solid rgba(0, 0, 0, .125);
}

/*<!--                    <ul id="suggestionList" class="list-group">-->*/
/*<!--                        <li class="list-group-item">-->*/
/*<!--                            <div class="card">-->*/
/*<!--                                <div class="card-body">-->*/
/*<!--                                    <h5 class="card-title">Card title</h5>-->*/
/*<!--                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->*/
/*<!--                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->*/
/*<!--                                </div>-->*/
/*<!--                            </div>-->*/
/*<!--                        </li>-->*/
/*<!--                        <li class="list-group-item-info">-->*/
/*<!--                            <div class="card">-->*/
/*<!--                                <div class="card-body">-->*/
/*<!--                                    <h5 class="card-title">Card title</h5>-->*/
/*<!--                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->*/
/*<!--                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->*/
/*<!--                                </div>-->*/
/*<!--                            </div>-->*/
/*<!--                        </li>-->*/
/*<!--                    </ul>-->*/